.evenspace {
  display: flex;
  justify-content: space-around;
}

.halfcourt {
  background-image: url(S:\Personal\VolleyballRotations\vballrotations\Volleyball_Half_CourtdiagrambyGrifone87.png);
  height: 350px;
  width: 400px;
  text-align: center;
}
